@{
    var assembly = ViewContext.Controller.GetType().Assembly;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width">*@
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Styles.Render("~/Content/bootstrap/base")
    @Styles.Render("~/Content/bootstrap/theme")
    @Styles.Render("~/Content/dataTables")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page-container">
        <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/">RDSS Timesheet</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="#"><small>built @File.GetCreationTime(assembly.Location)</small></a></li>
                    <li><a href="#"><i class="icon-user icon-white"></i> @RenderSection("login", required: false)</a></li>
                    <li><a href="#"><i class="icon-question icon-white"></i></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        Width: <span class="widthnote"></span>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dataTables")

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function getWidth() {
            xWidth = null;
            if (window.screen != null)
                xWidth = window.screen.availWidth;

            if (window.innerWidth != null)
                xWidth = window.innerWidth;

            if (document.body != null)
                xWidth = document.body.clientWidth;

            return xWidth;
        }
        function getHeight() {
            xHeight = null;
            if (window.screen != null)
                xHeight = window.screen.availHeight;

            if (window.innerHeight != null)
                xHeight = window.innerHeight;

            if (document.body != null)
                xHeight = document.body.clientHeight;

            return xHeight;
        }
        $(function () {
            $('span.widthnote').text(getWidth());
        })
    </script>
</body>
</html>
