@model TimeSheet.Models.CostCenter
<tr data-id="@Model.CostCenterId">
    <td>@Model.CostCenterId</td>
    <td>@Model._CostCenter</td>
    <td>@Model.LegalEntity</td>
    <td>@Model.UseCount</td>
    <td>@Model.UserCount</td>
</tr>