@model TimeSheet.Models.CostCenter
<tr data-id="@Model.CostCenterId">
    <td>@Model.CostCenterId</td>
    <td>@Model._CostCenter</td>
    <td>@Model.LegalEntity</td>
    <td>@Model.UseCount</td>
    <td>@Model.UserCount</td>
    <td>
    @if (Model.UseCount == 0)
{
        @Html.ActionLink("Delete", "DeleteCostCenter", "Admin", new { CostCenterId = Model.CostCenterId }, new { @class = "dellink" })

}</td>
</tr>