@using TimeSheet.Models
@model TimeSheet.Models.Hrs

@using (var modal = Html.Bootstrap().Begin(new Modal().Id("weekline").Closeable().FadeOff()))
{
    using (modal.BeginHeader())
    {
        <h4 id="modaltitle">Add Hours</h4>
        @Html.Bootstrap().ValidationSummary()
    }

    using (var form = Html.Bootstrap().Begin(new Form("Save", "Home").Id("weeksheet").Type(FormType.Horizontal).LabelWidthXs(3)))
    {
        @Html.HiddenFor(m => m.WeekId)
        @Html.HiddenFor(m => m.oWeekId)
        @Html.HiddenFor(m => m.WeekNumber)
        @Html.HiddenFor(m => m.Year)
        @Html.HiddenFor(m => m.Submitted)
    
        @Html.HiddenFor(m=>m.csCapitalNumber)
        @Html.HiddenFor(m=>m.csInternalNumber)
        @Html.HiddenFor(m=>m.csCostCenter)
        @Html.HiddenFor(m=>m.csDescription)
        @Html.HiddenFor(m=>m.csCustomer)
        @Html.HiddenFor(m => m.WorkerId)

        using (modal.BeginBody())
        {
            <div class="row">
                <div class="col-xs-5">
                    @form.FormGroup().DropDownListFor(m => m.PartnerId, Model.Partners).Size(InputSize.Small).Label().LabelText("Partner")
                    @form.FormGroup().DropDownListFor(m => m.SiteId, Model.Sites).Size(InputSize.Small).WidthXs(6).Label().LabelText("Site")
                    @form.FormGroup().DropDownListFor(m => m.TimeTypeId, Model.Times).Size(InputSize.Small).Class("nondemand").Label().LabelText("Type")
                    @form.FormGroup().DropDownListFor(m => m.CustomerId, Model.Customers).Size(InputSize.Small).Class("demand").Label().LabelText("Customer")
                    @form.FormGroup().Class("newrequest").RadioButtonTrueFalseFor(m => m.NewRequest).InputLabelsText("is New", "is not New").Label().LabelText("Request")
                </div>
                <div class="col-xs-7">
                    @form.FormGroup().DropDownListFor(m => m.WorkAreaId, Model.WorkAreas).Size(InputSize.Small).Label().LabelText("Work Area")
                    <div class="form-group">
                        <label class="control-label col-xs-3">Charge To<span class="required" style="visibility:hidden;">*</span> </label>
                        <div class="btn-group demand col-xs-9" data-toggle="buttons" id="charge">
                            <label class="btn btn-primary @(Model.ChargeAccount == ChargeTo.Cost_Center ? "active" : "")">
                                <i class="icon-check@(Model.ChargeAccount == ChargeTo.Cost_Center ? "" : "-empty")"></i>
                                <input type="radio" name="AccountType" id="costc" value="@((int)ChargeTo.Cost_Center)"
                                        @(Model.ChargeAccount == ChargeTo.Cost_Center ? "checked" : "")> Cost Center
                            </label>
                            <label class="btn btn-primary @(Model.ChargeAccount == ChargeTo.Internal_Order ? "active" : "")">
                                <i class="icon-check@(Model.ChargeAccount == ChargeTo.Internal_Order ? "" : "-empty")"></i>
                                <input type="radio" name="AccountType" id="interno" value="@((int)ChargeTo.Internal_Order)"
                                        @(Model.ChargeAccount == ChargeTo.Internal_Order ? "checked" : "")> Internal
                            </label>
                            <label class="btn btn-primary @(Model.ChargeAccount == ChargeTo.Capital_Number ? "active" : "")">
                                <i class="icon-check@(Model.ChargeAccount == ChargeTo.Capital_Number ? "" : "-empty")"></i>
                                <input type="radio" name="AccountType" id="capital" value="@((int)ChargeTo.Capital_Number)"
                                        @(Model.ChargeAccount == ChargeTo.Capital_Number ? "checked" : "")> Capital
                            </label>
                        </div>
                    </div>
                    @form.FormGroup().Class("acct").DropDownListFor(m => m.CostCenterId, Model.CostCenters).Class("demand costc").Size(InputSize.Small).Label().LabelText("Cost Center")
                    @form.FormGroup().Class("acct").DropDownListFor(m => m.InternalNumberId, Model.InternalNumbers).Class("demand interno").Size(InputSize.Small).Label().LabelText("Internal #")
                    @form.FormGroup().Class("acct").DropDownListFor(m => m.CapitalNumberKey, Model.CapitalNumbers).Class("demand capital").Size(InputSize.Small).Label().LabelText("Capital #")
                </div>
            </div>
            <div class="row">
                @form.FormGroup().DropDownListFor(m => m.DescriptionId, Model.Descriptions).Size(InputSize.Small).WidthXs(10).Label().WidthXs(2).LabelText("Description")
            </div>
            using (Html.Bootstrap().Begin(new Table().Condensed().Striped().Class("hourinput")))
            {
                <thead>
                    <tr class="weekline">
                        <th></th>
                        @Html.DisplayFor(m => m.Columns)
                        <th>Subtotal</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hourline" id="normal">
                        @Html.HiddenFor(m => m.TotalMinutes)
                        <td class="hrsum">Normal</td>
                        <td>@form.FormGroup().TextBoxFor(m => m.nMon).Data(new { mask = "99:99" }).WidthXs(12).Label().Class("sr-only")</td>
                        <td>@form.FormGroup().TextBoxFor(m => m.nTue).Data(new { mask = "99:99" }).WidthXs(12).Label().Class("sr-only")</td>
                        <td>@form.FormGroup().TextBoxFor(m => m.nWed).Data(new { mask = "99:99" }).WidthXs(12).Label().Class("sr-only")</td>
                        <td>@form.FormGroup().TextBoxFor(m => m.nThu).Data(new { mask = "99:99" }).WidthXs(12).Label().Class("sr-only")</td>
                        <td>@form.FormGroup().TextBoxFor(m => m.nFri).Data(new { mask = "99:99" }).WidthXs(12).Label().Class("sr-only")</td>
                        <td>@form.FormGroup().TextBoxFor(m => m.nSat).Data(new { mask = "99:99" }).WidthXs(12).Label().Class("sr-only")</td>
                        <td>@form.FormGroup().TextBoxFor(m => m.nSun).Data(new { mask = "99:99" }).WidthXs(12).Label().Class("sr-only")</td>
                        <td id="hrsnormal" class="hrsum"></td>
                        <td class="hrwtotal"></td>
                    </tr>
                    <tr class="hourline" id="overtime">
                        <td class="hrsum">Overtime</td>
                        <td>@form.FormGroup().TextBoxFor(m => m.oMon).Data(new { mask = "99:99" }).WidthXs(12).Label().Class("sr-only")</td>
                        <td>@form.FormGroup().TextBoxFor(m => m.oTue).Data(new { mask = "99:99" }).WidthXs(12).Label().Class("sr-only")</td>
                        <td>@form.FormGroup().TextBoxFor(m => m.oWed).Data(new { mask = "99:99" }).WidthXs(12).Label().Class("sr-only")</td>
                        <td>@form.FormGroup().TextBoxFor(m => m.oThu).Data(new { mask = "99:99" }).WidthXs(12).Label().Class("sr-only")</td>
                        <td>@form.FormGroup().TextBoxFor(m => m.oFri).Data(new { mask = "99:99" }).WidthXs(12).Label().Class("sr-only")</td>
                        <td>@form.FormGroup().TextBoxFor(m => m.oSat).Data(new { mask = "99:99" }).WidthXs(12).Label().Class("sr-only")</td>
                        <td>@form.FormGroup().TextBoxFor(m => m.oSun).Data(new { mask = "99:99" }).WidthXs(12).Label().Class("sr-only")</td>
                        <td id="hrsovertime" class="hrsum"></td>
                        <td class="hrowtotal"></td>
                    </tr>
                </tbody>
            }
            using (modal.BeginFooter())
            {
                @(form.FormGroup().CustomControls(
                    Html.Bootstrap().Button().Text("Delete").Id("deletehrs").Style(ButtonStyle.Danger),
                    Html.Bootstrap().SubmitButton().Text("Save").Id("savehrs").Style(ButtonStyle.Success),
                    Html.Bootstrap().Button().Data(new { dismiss = "modal" }).Text("Cancel"))
                )
            }
        }
    }
}
