@model TimeSheet.Models.Sheet
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            @using (var f = Html.Bootstrap().Begin(new Form("Index", "Home").Id("sheetform").Type(FormType.Horizontal).LabelWidthXs(4)))
            {
                @f.FormGroup().CustomControls("<div class='form-control-static'>"+Model.employee.FirstName + " " + Model.employee.LastName+"</div>").CustomLabel("<b>Name&nbsp;</b>")
                @f.FormGroup().DisplayTextFor(m => m.employee.EmployeeNumber).Label().LabelText("Number")
                @f.FormGroup().TextBoxFor(m => m.sunday).Placeholder("on a Sunday").Class("datepicker").Size(InputSize.Small).WidthXs(4).Label().LabelText("Ending")
                <div class="form-group">
                    <label class="control-label col-xs-4" id="weeklabel">Week
                    <span style="visibility:hidden;">*</span></label>
                    <div class="col-xs-4">
                    <table class="weekmover">
                        <thead><tr><th>
                                    <button class="btn btn-success btn-small" id="priorsheet">
                                        <i class="icon-step-backward icon-large"></i>
                                    </button>
                                </th><th>
                                    <div id="weeknumber" class="form-control-static">@Model.weekNumber</div>
                                </th><th>
                                    <button class="btn btn-success btn-small" id="nextsheet">
                                        <i class="icon-step-forward icon-large"></i>
                                    </button>
                                </th></tr>
                        </thead>
                    </table>
                    </div>
                </div>
            }
        </div>
        <div class="col-xs-6">
            @using (Html.Bootstrap().Begin(new Table().Caption("Hours Summary").Condensed().Class("pull-right hoursum")))
            {
                <tr><td>Demand</td><td class="day">@Model.Stats[0]</td></tr>
                <tr><td>Non-Demand</td><td class="day">@Model.Stats[1]</td></tr>
                <tr><td>Overtime</td><td class="day">@Model.Stats[2]</td></tr>
                <tr><td><b>Total</b></td><td class="day"><b>@Model.Stats[3]</b></td></tr>
            }
        </div>
    </div>
</div>
<div id="content">
    <table id="week" class="table table-striped @((Model.Submitted&&!Model.Impersonating)?"":"table-hover") table-condensed table-bordered">
        <thead @(Model.Submitted ? "class=locked" : "")>
            <tr class="sheetline">
                <th class="addbutton" colspan="3">
                    @if (!Model.Submitted || Model.Impersonating)
                    {
                        <button class="btn btn-success btn-mini pull-left" id="addline">
                            <i class="icon-plus icon-white"></i> New Row
                        </button>
                    }
                </th>
                @Html.DisplayFor(m => m.Headers)
                <th><i class="icon-sitemap"></i></th>
                <th class="submitbutton" colspan="5">
                    @if (Model.hours.Count() > 0)
                    {
                        if (!Model.Submitted || Model.Impersonating)
                        {
                            using (var subform = Html.Bootstrap().Begin(new Form("Submit", "Home").Id("submitsheet").Type(FormType.Horizontal)))
                            {
                                @Html.Hidden("WorkerId", Model.employee.WorkerId)
                                @Html.HiddenFor(m => m.weekNumber)
                                @Html.Bootstrap().SubmitButton().Text("Submit").Style(ButtonStyle.Danger).PrependIcon("icon-power-off icon-white").Class("pull-right")
                            }
                        }
                        if (Model.Submitted || (Model.Impersonating && Model.hours[0].Submitted.HasValue))
                        {
                            <div class="text-danger pull-right">
                                <i class="icon-lock"></i> @Model.hours[0].Submitted.ToString()
                            </div>
                        }
                    }
                </th>
            </tr>
            <tr id="sheetrow">
                <th title="Overtime"><i class="icon-time"></i></th>
                <th>Description</th>
                <th>Account</th>
                <th class="day">@Model.Stats[4]</th>
                <th class="day">@Model.Stats[5]</th>
                <th class="day">@Model.Stats[6]</th>
                <th class="day">@Model.Stats[7]</th>
                <th class="day">@Model.Stats[8]</th>
                <th class="day">@Model.Stats[9]</th>
                <th class="day">@Model.Stats[10]</th>
                <th class="day subt">@Model.Stats[3]</th>
                <th title="New Request"><i class="icon-asterisk"></i></th>
                <th>Customer</th>
                <th>WorkArea</th>
                <th>Partner</th>
                <th>Site</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.hours)
            @if (!Model.Submitted || Model.Impersonating) { 
                @Html.DisplayFor(m => m.CarryOver)
            }
        </tbody>
    </table>
</div>

<div id="weekline"></div>

<div class="submitchecks" id="dialog-confirm-newnumber" title="Add Internal Order number?">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Proceed with Internal Order <span id="confirminternal"></span>.  Are you sure?</p>
</div>

<div class="submitchecks" id="dialog-confirm-hours" title="Regular hours sum up to more than 40">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Your regular hours totals <span id="confirmhours"></span>.  Are you sure you want to submit?</p>
</div>

<div class="submitchecks" id="dialog-deny-hours" title="Less than 40 Regular hours">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Your regular hours totals <span id="denyhours"></span>.  Submissions less than 40 are not accepted.</p>
</div>

@section scripts {
    <script type="text/javascript">
        var week, sheet, $cust, $desc;
        var sunday = '@Model.sunday';
        var empid = '@Model.employee.WorkerId';

        function switchUI() {
            var selector = 'input[type="text"],input[type="hidden"],input[type="radio"],select';
            var $nondmd = $('.nondemand').parent().parent();
            var $dmd = $('.demand').parent().parent().add($('.newrequest'));

            if ($('#PartnerId').find('option:selected').html() == 'RDSS') {
                $nondmd.css('display', 'block');
                $nondmd.find(selector).removeAttr('disabled');
                $dmd.css('display', 'none');
                $dmd.find(selector).attr('disabled', 'disabled');
            }
            else {
                $nondmd.css('display', 'none');
                $nondmd.find(selector).attr('disabled', 'disabled');
                $dmd.css('display', 'block');
                $dmd.find(selector).removeAttr('disabled');
            }
            $('.acct').css('display', 'none');
            $('.acct').find('input[type="text"], select').attr('disabled', 'disabled');
            var $acct = $('.' + $('input[name="AccountType"]:checked').attr('id'));             // get ID of checked box
            if ($acct.length == 0) {                                                            // if none set one
                $('#costc').parent().button('toggle');
                $('#costc').prop('checked', true);
                $('#costc').prev().attr("class", "icon-check");
                $acct = $('.costc');
            }
            var $target = $acct.parent().parent();
            $target.css('display', 'block');
            $target.find('input[type="text"], select').removeAttr('disabled');
        }

    function getHours(hrs, mns) {
        hrs += Math.floor(mns / 60);
        mns %= 60;
        return hrs + ":" + (mns < 10 ? "0" : "") + mns;
    }

    function getMins(str) {
        var part = str.split(":");
        var h = parseInt(part[0]);
        var m = parseInt(part[1]);
        return (isNaN(h) ? 0 : h) * 60 + (isNaN(m) ? 0 : m);
    }

    function newWeek(next) {
        var days = next ? 7 : -7;
        var newSunday = new Date(sunday);
        var thisSunday = new Date(sunday);
        newSunday.setDate(newSunday.getDate() + days);
        week = $.datepicker.iso8601Week(newSunday);
        if (newSunday.getFullYear() > thisSunday.getFullYear())
            week += 100;
        if (newSunday.getFullYear() < thisSunday.getFullYear())
            week = -week;
        var url = '@Url.Action("Index", "Home", new { id = -1 })';
        location.href = url.replace('-1', week);
    }

    function resumHours()
    {
        $('#TotalMinutes').val(0);
        resumLine("normal");
        resumLine("overtime");
    }

    function resumLine(line) {
        var hrs = 0;
        var mns = 0;
        $('input', 'tr#' + line + '.hourline').each(function () {
            hrs += Number($(this).val().substr(0, 2));
            mns += Number($(this).val().substr(3, 2));
        });
        $('#TotalMinutes').val(hrs+mns+$('#TotalMinutes').val());
        $('#hrs' + line, 'tr.hourline').html(getHours(hrs, mns));
    }

    function clrhours() {
        $('[name=options]', $desc).val('');
        $('[name=options]', $cust).val('');
        //$desc.data('combobox').refresh();
        //$cust.data('combobox').refresh();
        $('#modaltitle').html('Add Hours');
        $('input', 'tr.hourline').val('');
        $('select option[value="0"]').attr('selected', true);
        $('td.hrsum[id^="hrs"]', 'tr.hourline').html('');
    }
    function acctnumber(event) {                                        // Allow: backspace, delete, tab, escape, enter and .
        var x = event.which;
        if ( $.inArray(x,[46,8,9,27,13,190]) !== -1 ||                  // Allow: Ctrl+A
            (x == 65 && event.ctrlKey === true) ||                      // Allow: home, end, left, right
            (x >= 35 && x <= 39)) {                                     // let it happen, don't do anything
            return;
        }
        //else {                                                           // Ensure that it is a number and stop the keypress
        //    var ln = $(this).val().length;
        //    if (event.shiftKey || (x < 48 || x > 57) && (x < 96 || x > 105 ) || ln > 9) {
        //        event.preventDefault();
        //        $(this).attr('placeholder', '10 digits only');
        //    }   
        //}
    }
    function popuploaded() {
        $cust = $('#CustomerId', '#weeksheet');
        $desc = $('#DescriptionId', '#weeksheet');
        $intn = $('#InternalNumberId', '#weeksheet');
        $cost = $('#CostCenterId', '#weeksheet');

        //var tst = tst32['four'];          create javascript error to test it logging to server

        $desc.combobox({ freeform: '#DescriptionAdd', selected: true });
        $cust.combobox({ freeform: '#CustomerAdd', selected: true });
        $intn.combobox({ freeform: '#InternalNumberAdd', selected: true });
        $cost.combobox({ freeform: '#CostCenterAdd', selected: true });

        if ($('#WeekId', '#weeksheet').val() == '0' && $('#oWeekId', '#weeksheet').val() == '0') {
            $('#modaltitle').html('Add Hours to week ' + $('#WeekNumber').val());
            //$('input[name="InternalNumberId"]', '#weeksheet').val(0);
            //$('input[name="CostCenterId"]', '#weeksheet').val(0);
        }
        else
            $('#modaltitle').html('Edit Hours in week ' + $('#WeekNumber').val());

        $('input[name="InternalNumberAdd"]', '#weeksheet').keydown(acctnumber);
        $('input[name="CostCenterAdd"]', '#weeksheet').keydown(acctnumber);
        $("div.demand").button();
        $("input").placeholder();

        resumHours();

        $('tr.hourline input').on('blur', function (e) {
            var newt = $(this).val().replace(/_/g, '0').split(':');
            var newhr = ($(this).val().charAt(1) == '_' && $(this).val().charAt(0) != '_') ? Number(newt[0].charAt(0)) : Number(newt[0]);
            newhr = newhr > 24 ? 8 : newhr;
            var g = getHours(newhr, Number(newt[1]));
            g = g.length < 5 ? '0' + g : g;
            $(this).val(g);
            resumHours();
//          resumLine($(e.target).closest('tr').attr('id'));
        });
        $('tr.hourline input').on('keypress', function (e) {
            /* ENTER PRESSED*/
            if (e.keyCode == 13) {
                /* FOCUS ELEMENT */
                var inputs = $(this).parents("form").eq(0).find(":input");
                var idx = inputs.index(this);

                if (idx == inputs.length - 1) {
                    inputs[0].select()
                } else {
                    inputs[idx + 1].focus(); //  handles submit buttons
                    inputs[idx + 1].select();
                }
                e.preventDefault();
                return;
            }
        });
        $('#PartnerId').on('change', function () {
            switchUI();
        });
        $('#savehrs').on('click', function (e) {
            var result = $('#weeksheet').valid();
            if (!result) {
                e.preventDefault();
                return;
            }
            if ($('#TotalMinutes').val() == 0) {
                e.preventDefault();
                alert('Please enter some hours.  They are empty.');
                $('#nMon').focus();
                return;
            }
            if (isNaN(parseInt($cust.val()))) $cust.val(0);
            if (isNaN(parseInt($desc.val()))) $desc.val(0);
            if (isNaN(parseInt($cost.val()))) $cost.val(0);

            var $intern = $('input.interno', '#weeksheet');
            var $ctr = $('input.costc', '#weeksheet');
            var choice = $('#charge .active input[type="radio"]').attr('id');

            if (choice == "interno") {
                var nlx = nL[$intern.val()];
                if (typeof nlx != 'undefined') {
                    e.preventDefault();
                    $('input[name="InternalNumberId"]', '#weeksheet').val(-nlx);
                    $('#weeksheet').submit();
                    $('#weekline').modal('hide');
                    return;
                }

                if ($intn.val() == 0) {
                    e.preventDefault();
                    
                    var answer;
                    if ($intern.val().length != 10)
                    {
                        var ln = $intern.val().length;
                        answer = confirm("This new Internal Order number is "+ln+" digits long (should normally be 10). Use it anyway?");
                        if (!answer) {$intern.focus(); return;}
                    }
                    else {
                        numbertest = $intern.val().substring(0,4);
                        if (numbertest < '7100' && numbertest != '4700' && numbertest != '4001') {
                            answer = confirm("This number, " + $intern.val() +", looks like a Cost Center. Still use it as an Internal Order number?");
                            if (!answer)  {$intern.focus(); return;}
                        } else {
                            answer = confirm("The Internal Order number, " + $intern.val() +", might be an invalid number. Use it anyway?");
                            if (!answer) {$intern.focus(); return;}
                        }
                    }
                    $('input[name="InternalNumberId"]', '#weeksheet').val(0);
                    $('#weeksheet').submit();
                    $('#weekline').modal('hide');
                    return;
                }
            }

            if (choice == "costc") {
                var clx = cL[$ctr.val()];
                if (typeof clx != 'undefined') {
                    e.preventDefault();
                    $('input[name="CostCenterId"]', '#weeksheet').val(-clx);
                    $('#weeksheet').submit();
                    $('#weekline').modal('hide');
                    return;
                }

                if ($cost.val() == 0) {
                    e.preventDefault();
                    
                    var answer;
                    if ($ctr.val().length != 10)
                    {
                        var ln = $ctr.val().length;
                        answer = confirm("This new Cost Center number is "+ln+" digits long (should normally be 10). Use it anyway?");
                        if (!answer) {$ctr.focus(); return;}
                    }
                    else {
                        numbertest = $ctr.val().substring(0,4);
                        if (numbertest >= '7100' || numbertest == '4700' || numbertest == '4001') {
                            answer = confirm("This number, " + $ctr.val() + ", looks like an Internal Order number. Still use it as a Cost Center?");
                            if (!answer)  {$ctr.focus(); return;}
                        }   
                        else {
                            answer = confirm("The Cost Center, " + $ctr.val() + ", might be an invalid number. Use it anyway?");
                            if (!answer) {$ctr.focus(); return;}
                        }
                    }
                    $('input[name="CostCenterId"]', '#weeksheet').val(0);
                    $('#weeksheet').submit();
                    $('#weekline').modal('hide');
                    return;
                }
            }
            var $cn = $('input[name="CapitalNumber"]', '#weeksheet');
            $cn.val(encodeURIComponent($cn.val().trim()));

            $('#weekline').modal('hide');
        });
        $('#deletehrs').on('click', function (e) {
            var normal = parseInt($('#WeekId').val());
            var overtime = parseInt($('#oWeekId').val());
            $('#weekline').modal('hide');
            e.preventDefault();
            location.href = '@Url.Action("Delete", "Home", null, Request.Url.Scheme)/' + normal + '/' + overtime;
        });
        $('input[name="AccountType"]').on('change', function () {
            $('#charge i.icon-check').attr("class", "icon-check-empty");
            $(this).prev().attr("class", "icon-check");
            $('.acct').css('display', 'none');
            $('.acct').attr('disabled', 'disabled');
            var $target = $('.' + $(this).attr('id'));
            $target.parent().parent().css('display', 'block');
            $target.parent().parent().removeAttr('disabled');
            $target.removeAttr('disabled');
            $target.attr('onbeforepaste', 'return false;');
        });
        $('#newreq').on('click', function () {
            if ($('#newreq').hasClass('active')) {
                $('#newreq span').html(' is not New');
                $('#newreq input').val('false');
            }
            else {
                $('#newreq span').html(' is New <i class="icon-asterisk"></i>');
                $('#newreq input').val('true');
            }
        });
        $('#weekline').modal('show');
        switchUI();
        $.validator.unobtrusive.parse("#weeksheet");
    }
    // Page loaded document ready
    $(function () {
        $('.datepicker').datepicker({
            beforeShowDay: function (date) { return [date.getDay() == 0, ""] }
            , firstDay: 1
        });
        $('.datepicker').on('change', function (e) {
            var test = new Date(e.target.value);
            if (test.getDay() != 0) {
                location.href = '@Url.Action("PickDate", "Home", null, Request.Url.Scheme)/' + $.datepicker.formatDate('yy-mm-dd', test);
            }
        });
        $('#priorsheet').on('click', function (e) {
            e.preventDefault();
            newWeek(false);
        });
        $('#nextsheet').on('click', function (e) {
            e.preventDefault();
            newWeek(true);
        });

        week = @(Model.weekNumber) +0;

        $('#periodEnding').val('@Model.sunday');

        @if (!Model.Submitted || Model.Impersonating) {
            <text>
            $('#addline').on('click', function () {
                $.get('@Url.Action("Create","Home",null,Request.Url.Scheme)/0', function (data) {
                    $('#weekline').replaceWith(data);
                    popuploaded();
                });
            });

            $('#submitsheet').on('click', function (e) {
                var total = getMins('@Model.Stats[0]') + getMins('@Model.Stats[1]');
                if (total > 40 * 60) {
                    $('#confirmhours').text(getHours(0, total));
                    $('#dialog-confirm-hours').show();
                    e.preventDefault();
                    $("#dialog-confirm-hours").dialog({
                        resizable: false,
                        height: 170,
                        width: 350,
                        modal: true,
                        buttons: {
                            "Submit hours as is": function () {
                                $(this).dialog("close");
                                $('#dialog-confirm-hours').hide();
                                $('#submitsheet').submit();
                            },
                            Cancel: function () {
                                $(this).dialog("close");
                                $('#dialog-confirm-hours').hide();

                                return;
                            }
                        }
                    });
                } else if (total < 40 * 60) {
                    $('#denyhours').text(getHours(0, total));
                    $('#dialog-deny-hours').show();
                    e.preventDefault();
                    $("#dialog-deny-hours").dialog({
                        resizable: false,
                        height: 170,
                        width: 420,
                        modal: true,
                        buttons: {
                            OK: function () {
                                $(this).dialog("close");
                                $('#dialog-deny-hours').hide();

                                return;
                            }
                        }
                    });

                }
            });

            $('#week tbody').on('click', 'tr.hoursrow', function () {
                var id = $(this).data('id');
                id = (id != '') ? id : 0;

                var pairid = $(this).data('pairid');
                pairid = (pairid != '') ? pairid : 0;

                $.get('@Url.Action("Edit","Home",null,Request.Url.Scheme)/' + id + '/' + pairid, function (data) {
                    $('#weekline').replaceWith(data);
                    popuploaded();
                });
            });
            </text>
        }

        $('#week tbody').on('click', 'tr.descriptionrow', function (e) {
            var id = $(this).data('id');
            var $cell = $(e.target).closest('td');
            if ($cell.index() == 0) {
                location.href = '@Url.Action("InActivate", "Home", null, Request.Url.Scheme)/' + id + '/' + week;
            }
            $.get('@Url.Action("Create","Home",null,Request.Url.Scheme)/' + id, function (data) {
                $('#weekline').replaceWith(data);
                popuploaded();
            });
        });
    });
    var nL = {};
    var cL = {};
    @foreach (var n in Model.numbers) {<text>nL['@(n.InternalOrder)']=@(n.InternalNumberId);</text>}
    @foreach (var c in Model.centers) {<text>cL['@(c._CostCenter)']=@(c.CostCenterId);</text>}
</script>
}
