@model TimeSheet.Models.Sheet
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            @using (var f = Html.Bootstrap().Begin(new Form("Index", "Home").Id("sheetform").Type(FormType.Horizontal).LabelWidthXs(4)))
            {
                @f.FormGroup().CustomControls(Model.employee.FirstName + " " + Model.employee.LastName).CustomLabel("Name")
                @f.FormGroup().DisplayTextFor(m => m.employee.EmployeeNumber).Label().LabelText("Number")
                @f.FormGroup().TextBoxFor(m => m.sunday).Placeholder("on a Sunday").Class("datepicker").Size(InputSize.Small).WidthXs(4).Label().LabelText("Ending")
                <div class="form-group">
                    <label class="control-label col-xs-4" id="weeklabel">Week
                    <span style="visibility:hidden;">*</span></label>
                    <div class="col-xs-4">
                    <table class="weekmover">
                        <thead><tr><th>
                                    <button class="btn btn-success btn-small" id="priorsheet">
                                        <i class="icon-step-backward icon-large"></i>
                                    </button>
                                </th><th>
                                    <div id="weeknumber" class="form-control-static">@Model.weekNumber</div>
                                </th><th>
                                    <button class="btn btn-success btn-small" id="nextsheet">
                                        <i class="icon-step-forward icon-large"></i>
                                    </button>
                                </th></tr>
                        </thead>
                    </table>
                        </div>
                </div>
            }
        </div>
        <div class="col-xs-6">
            @using (Html.Bootstrap().Begin(new Table().Caption("Hours Summary").Condensed().Class("pull-right hoursum")))
            {
                <tr><td>Demand</td><td class="day">@Model.Stats[0]</td></tr>
                <tr><td>Non-Demand</td><td class="day">@Model.Stats[1]</td></tr>
                <tr><td>Overtime</td><td class="day">@Model.Stats[2]</td></tr>
                <tr><td><b>Total</b></td><td class="day"><b>@Model.Stats[3]</b></td></tr>
            }
        </div>
    </div>
</div>
<div id="content">
    <table id="week" class="table table-striped @(Model.Submitted?"":"table-hover") table-condensed table-bordered">
        <thead @(Model.Submitted ? "class=locked" : "")>
            <tr class="sheetline">
                <th class="addbutton" colspan="3">
                    @if (!Model.Submitted)
                    {
                        <button class="btn btn-success btn-mini pull-left" id="addline">
                            <i class="icon-plus icon-white"></i> New Row
                        </button>
                    }
                </th>
                @Html.DisplayFor(m => m.Headers)
                <th><i class="icon-sitemap"></i></th>
                <th class="submitbutton" colspan="5">
                    @if (Model.hours.Count() > 0)
                    {
                        if (!Model.Submitted)
                        {
                            using (var subform = Html.Bootstrap().Begin(new Form("Submit", "Home").Id("submitsheet").Type(FormType.Horizontal)))
                            {
                                @Html.Hidden("WorkerId", Model.employee.WorkerId)
                                @Html.HiddenFor(m => m.weekNumber)
                                @Html.Bootstrap().SubmitButton().Text("Submit").Style(ButtonStyle.Danger).PrependIcon("icon-power-off icon-white").Class("pull-right")
                            }
                        }
                        else
                        {
                            <div class="text-danger pull-right">
                                <i class="icon-lock"></i> @Model.hours[0].Submitted.ToString()
                            </div>
                        }
                    }
                </th>
            </tr>
            <tr id="sheetrow">
                <th title="Overtime"><i class="icon-time"></i></th>
                <th>Description</th>
                <th>Account</th>
                <th class="day">@Model.Stats[4]</th>
                <th class="day">@Model.Stats[5]</th>
                <th class="day">@Model.Stats[6]</th>
                <th class="day">@Model.Stats[7]</th>
                <th class="day">@Model.Stats[8]</th>
                <th class="day">@Model.Stats[9]</th>
                <th class="day">@Model.Stats[10]</th>
                <th class="day subt">@Model.Stats[3]</th>
                <th title="New Request"><i class="icon-asterisk"></i></th>
                <th>Customer</th>
                <th>WorkArea</th>
                <th>Partner</th>
                <th>Site</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.hours)
            @if (!Model.Submitted) { 
                @Html.DisplayFor(m => m.CarryOver)
            }
        </tbody>
    </table>
</div>

<div id="weekline"></div>

<div class="submitchecks" id="dialog-confirm-newnumber" title="Add Internal Order number?">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Proceed with Internal Order <span id="confirminternal"></span>.  Are you sure?</p>
</div>

<div class="submitchecks" id="dialog-confirm-hours" title="Regular hours do not sum to 40">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Your regular hours totals <span id="confirmhours"></span>.  Are you sure you want to submit?</p>
</div>

@section login{ @Model.User }

@section scripts {
    <script type="text/javascript">
        var week, sheet, $cust, $desc;
        var sunday = '@Model.sunday';
        var empid = '@Model.employee.WorkerId';

        function switchUI() {
            var $nondmd = $('.nondemand').parent().parent();
            var $dmd = $('.demand').parent().parent();

            if ($('#PartnerId').find('option:selected').html() == 'RDSS') {
                $nondmd.css('display', 'block');
                $nondmd.find('input[type="text"],input[type="hidden"],input[type="radio"],select').removeAttr('disabled');
                $dmd.css('display', 'none');
                $dmd.find('input[type="text"], input[type="hidden"], input[type="radio"], select').attr('disabled', 'disabled');
            }
            else {
                $nondmd.css('display', 'none');
                $nondmd.find('input[type="text"], input[type="hidden"], input[type="radio"], select').attr('disabled', 'disabled');
                $dmd.css('display', 'block');
                $dmd.find('input[type="text"], input[type="hidden"], input[type="radio"], select').removeAttr('disabled');
            }
            $('.acct').css('display', 'none');
            $('.acct').find('input[type="text"], select').attr('disabled', 'disabled');
            var $acct = $('.' + $('input[name="AccountType"]:checked').attr('id'));             // get ID of checked box
            if ($acct.length == 0) {                                                            // if none set one
                $('#costc').prop('checked', true);
                $('#costc').prev().attr("class", "icon-check");
                $acct = $('.costc');
            }
            var $target = $acct.parent().parent();
            $target.css('display', 'block');
            $target.find('input[type="text"], select').removeAttr('disabled');
        }

    function getHours(hrs, mns) {
        hrs += Math.floor(mns / 60);
        mns %= 60;
        return hrs + ":" + (mns < 10 ? "0" : "") + mns;
    }

    function getMins(str) {
        var part = str.split(":");
        var h = parseInt(part[0]);
        var m = parseInt(part[1]);
        return (isNaN(h) ? 0 : h) * 60 + (isNaN(m) ? 0 : m);
    }

    function newWeek(next) {
        var days = next ? 7 : -7;
        var newSunday = new Date(sunday);
        newSunday.setDate(newSunday.getDate() + days);
        sunday = $.datepicker.formatDate('mm/dd/yy', newSunday);
        $('#periodEnding').val(sunday);
        week = $.datepicker.iso8601Week(newSunday);
        var url = '@Url.Action("Index", "Home", new { id = -1 })';
        location.href = url.replace('-1', week);
    }

    function resumLine(line) {
        var hrs = 0;
        var mns = 0;
        $('input', 'tr#' + line + '.hourline').each(function () {
            hrs += Number($(this).val().substr(0, 2));
            mns += Number($(this).val().substr(3, 2));
        });
        $('#hrs' + line, 'tr.hourline').html(getHours(hrs, mns));
    }

    function clrhours() {
        $('[name=options]', $desc).val('');
        $('[name=options]', $cust).val('');
        //$desc.data('combobox').refresh();
        //$cust.data('combobox').refresh();
        $('#modaltitle').html('Add Hours');
        $('input', 'tr.hourline').val('');
        $('select option[value="0"]').attr('selected', true);
        $('td.hrsum[id^="hrs"]', 'tr.hourline').html('');
    }
    function popuploaded() {
        $cust = $('#CustomerId', '#weeksheet');
        $desc = $('#DescriptionId', '#weeksheet');
        $intn = $('#InternalNumberId', '#weeksheet');
        $desc.combobox({ freeform: '#DescriptionAdd', selected: true });
        $cust.combobox({ freeform: '#CustomerAdd', selected: true });
        $intn.combobox({ freeform: '#InternalNumberAdd', selected: true });
        $("button.demand").button();

        resumLine("normal");
        resumLine("overtime");

        $('tr.hourline input').on('blur', function (e) {
            var newt = $(this).val().replace(/_/g, '0').split(':');
            var newhr = ($(this).val().charAt(1) == '_' && $(this).val().charAt(0) != '_') ? Number(newt[0].charAt(0)) : Number(newt[0]);
            newhr = newhr > 24 ? 8 : newhr;
            var g = getHours(newhr, Number(newt[1]));
            g = g.length < 5 ? '0' + g : g;
            $(this).val(g);
            resumLine($(e.target).closest('tr').attr('id'));
        });
        $('tr.hourline input').on('keypress', function (e) {
            /* ENTER PRESSED*/
            if (e.keyCode == 13) {
                /* FOCUS ELEMENT */
                var inputs = $(this).parents("form").eq(0).find(":input");
                var idx = inputs.index(this);

                if (idx == inputs.length - 1) {
                    inputs[0].select()
                } else {
                    inputs[idx + 1].focus(); //  handles submit buttons
                    inputs[idx + 1].select();
                }
                return false;
            }
            //if (String.fromCharCode(e.which) == '+') {
            //    $(this).val(getHours(0, getMins($(this).val()) + 5));
            //    return false;
            //}
            //if (String.fromCharCode(e.which) == '-') {
            //    console.log($(this).val());
            //    var m = getMins($(this).val());
            //    if (m <= 0) return false;
            //    $(this).val(getHours(0, getMins($(this).val()) - 5));
            //    return false;
            //}
        });
        $('#PartnerId').on('change', function () {
            switchUI();
        });
        $('#savehrs').on('click', function (e) {
            var result = $('#weeksheet').valid();

            if (!result)
                return false;

            if (isNaN(parseInt($cust.val()))) $cust.val(0);
            if (isNaN(parseInt($desc.val()))) $desc.val(0);

            if (isNaN(parseInt($('.interno', '#weeksheet').val()))) {
                e.preventDefault();
                $('#confirminternal').html($('.interno', '#weeksheet').val());
                $('#dialog-confirm-newnumber').show();
                $("#dialog-confirm-newnumber").dialog({
                    resizable: false,
                    height: 200,
                    width: 400,
                    modal: true,
                    buttons: {
                        "Use new Internal Order": function () {
                            $(this).dialog("close");
                            $('#dialog-confirm-newnumber').hide();
                            $('input[name="InternalNumberId"]', '#weeksheet').val(0);
                            $('#weeksheet').submit();
                            return true;
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                            $('#dialog-confirm-newnumber').hide();
                            return false;
                        }
                    }
                });
            }
            $('#weekline').modal('hide');
        });
        $('#deletehrs').on('click', function (e) {
            var normal = parseInt($('#WeekId').val());
            var overtime = parseInt($('#oWeekId').val());
            $('#weekline').modal('hide');
            e.preventDefault();
            location.href = '@Url.Action("Delete", "Home", null, Request.Url.Scheme)/' + normal + '/' + overtime;
        });
        $('input[name="AccountType"]').on('change', function () {
            $('#charge i.icon-check').attr("class", "icon-check-empty");
            $(this).prev().attr("class", "icon-check");
            $('.acct').css('display', 'none');
            $('.acct').attr('disabled', 'disabled');
            var $target = $('.' + $(this).attr('id'));
            $target.parent().parent().css('display', 'block');
            $target.removeAttr('disabled');
        });
        $('#newreq').on('click', function () {
            if ($('#newreq').hasClass('active')) {
                $('#newreq span').html(' is not New');
                $('#newreq input').val('false');
            }
            else {
                $('#newreq span').html(' is New <i class="icon-asterisk"></i>');
                $('#newreq input').val('true');
            }
        });
        $.validator.unobtrusive.parse("#weeksheet");
        $('#weekline').modal('show');
        switchUI();
    }
    // Page loaded document ready
    $(function () {
        $('.datepicker').datepicker({
            beforeShowDay: function (date) { return [date.getDay() == 0, ""] }
            , firstDay: 1
        });
        $('.datepicker').on('change', function (e) {
            var test = new Date(e.target.value);
            if (test.getDay() != 0) {
                console.log('@Url.Action("PickDate", "Home", null, Request.Url.Scheme)');
                location.href = '@Url.Action("PickDate", "Home", null, Request.Url.Scheme)/' + $.datepicker.formatDate('yy-mm-dd', test);
            }
        });
        $('#priorsheet').on('click', function (e) {
            e.preventDefault();
            newWeek(false);
        });
        $('#nextsheet').on('click', function (e) {
            e.preventDefault();
            newWeek(true);
        });

        week = @(Model.weekNumber) +0;

        $('#periodEnding').val('@Model.sunday');

        @if (!Model.Submitted) {
                <text>
                $('#addline').on('click', function () {
                    $.get('@Url.Action("Create","Home",null,Request.Url.Scheme)/0', function (data) {
                        $('#weekline').replaceWith(data);
                        popuploaded();
                    });
                });

                $('#submitsheet').on('click', function (e) {
                    var total = getMins('@Model.Stats[0]') + getMins('@Model.Stats[1]');
                    if (total != 40 * 60) {
                        $('#confirmhours').text(getHours(0, total));
                        $('#dialog-confirm-hours').show();
                        e.preventDefault();
                        $("#dialog-confirm-hours").dialog({
                            resizable: false,
                            height: 170,
                            width: 350,
                            modal: true,
                            buttons: {
                                "Submit hours as is": function () {
                                    $(this).dialog("close");
                                    $('#dialog-confirm-hours').hide();
                                    $('#submitsheet').submit();
                                },
                                Cancel: function () {
                                    $(this).dialog("close");
                                    $('#dialog-confirm-hours').hide();

                                    return false;
                                }
                            }
                        });
                    }
                });

                $('#week tbody').on('click', 'tr.hoursrow', function () {
                    var id = $(this).data('id');
                    id = (id != '') ? id : 0;

                    var pairid = $(this).data('pairid');
                    pairid = (pairid != '') ? pairid : 0;

                    $.get('@Url.Action("Edit","Home",null,Request.Url.Scheme)/' + id + '/' + pairid, function (data) {
                        $('#weekline').replaceWith(data);
                        popuploaded();
                    });
                });
                </text>
            }

        $('#week tbody').on('click', 'tr.descriptionrow', function (e) {
            var id = $(this).data('id');
            var $cell = $(e.target).closest('td');
            if ($cell.index() == 0) {
                location.href = '@Url.Action("InActivate", "Home", null, Request.Url.Scheme)/' + id + '/' + week;
            }
            $.get('@Url.Action("Create","Home",null,Request.Url.Scheme)/' + id, function (data) {
                $('#weekline').replaceWith(data);
                popuploaded();
            });
        });
    });
</script>

}
