@model TimeSheet.Models.PartnerView

@{
    ViewBag.Title = "Partner";
    List<IHtmlString> buttons = new List<IHtmlString>() {
            Html.Bootstrap().SubmitButton().Text("Save").Id("savenumber").Style(ButtonStyle.Success),
            Html.Bootstrap().SubmitButton().Text("Cancel").Id("cancel").Style(ButtonStyle.Default)
    };
}

<div class="container">
@using (var form = Html.Bootstrap().Begin(new Form("SavePartner", "Admin").Id("areaform").Type(FormType.Horizontal).LabelWidthXs(5)))
{
    @Html.HiddenFor(m => m.wa.PartnerId)
    <div class="row">
        <div class="col-xs-12 text-primary"><h3>@(Model.wa.PartnerId == 0 ? "Add " : "Edit ")Partner</h3></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @form.FormGroup().TextBoxFor(m => m.wa._Partner).Size(InputSize.Small).WidthXs(4)
        </div>
    </div>
    <div class="row">
        @(form.FormGroup().CustomControls(buttons.ToArray()))
    </div>
}
</div>
@section scripts{
    <script type="text/javascript">    

        $(function () {
            $('#cancel').on('click', function (e) {
                e.preventDefault();
                location.href = '@Url.Action("Partners", "Admin",null,Request.Url.Scheme)';
            });
        });
    </script>
}