@using TimeSheet.Models
@model TimeSheet.Models.Personnel

<div class="container">
<br />
<table id="emps" class="table table-striped table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th></th>
            <th colspan="3">
                @if (Model.IsAdmin) { 
                <button class="btn btn-success btn-mini" id="addperson">
                    <i class="icon-plus icon-white"></i> Add New Person
                </button>
                }
            </th>
            <th colspan="4">
                <b class="center">List of Personnel</b>
            </th>
            <th colspan="6">
                <div class="text-muted"><i><small>click row to @(Model.IsAdmin?"edit":"impersonate")</small></i></div>
            </th>
        </tr>
        <tr>
            <th>ID</th>
            <th title="is an admin"><i class="icon-briefcase"></i></th>
            <th>Ion Name</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Employee Number</th>
            <th>Level</th>
            <th>Department</th>
            <th>Site</th>
            <th>Role</th>
            <th title="is a manager"><i class="icon-user"></i></th>
            <th title="is inactive"><i class="icon-ban-circle"></i></th>
            <th title="is part time"><i class="icon-adjust"></i></th>
            <th title="on disability"><i class="icon-h-sign"></i></th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(m => m.list)
    </tbody>
</table>
</div>

@section scripts {
<script type="text/javascript">
    function attachDT() {
        q = $('#emps').dataTable({
            "sDom": "<'row'<'col-xs-6'f><'col-xs-6'i>>t",
            "bPaginate": false,
            "oLanguage": {
                "sInfo": "_TOTAL_ personnel",
                "sInfoFiltered": "(of _MAX_ unfiltered)",
                "sProcessing": "<i class='icon-spinner icon-spin'></i>"
            },
            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }],
            "bProcessing": true
        });
    }
    $(function () {
        attachDT();
        @if (Model.IsAdmin) {
            <text>
        $('#emps tbody').on('click', 'tr', function () {
            var id = $(this).data('id');
            id = (id != '') ? id : 0;
            location.href = '@Url.Action("Worker","Admin",null,Request.Url.Scheme)/' + id;
        });
        $('#addperson').on('click', function () {
            location.href = '@Url.Action("Worker","Admin",null,Request.Url.Scheme)/0';
        });
            </text>
        }
        @if (Model.IsManager && !Model.IsAdmin)
        {
            <text>
                $('#emps tbody').on('click', 'tr', function () {
                    var id = $(this).data('id');
                    id = (id != '') ? id : 0;
                    location.href = '@Url.Action("Impersonate","Admin",null,Request.Url.Scheme)/' + id;
                });
            </text>
        }
    });
</script>
}
